<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1>This is Xposter</h1>
        <p>Xposter is a powerful web application that allows you to easily schedule and manage your tweets(x posts, damn it elon).</p>
        <p>With Xposter, you can efficiently plan your Twitter content, ensuring that your messages reach your audience at the right time.</p>
        <p>Experience the convenience of scheduling tweets in advance and focusing on what matters most. <b>For Free.</b><br></p>
        <%=  button_to "Get Started","auth/twitter", method: :post, :data => {turbo: "false"}, class:"btn btn-success" %>
    </div>
</div>
